body {
  margin: 0;
  padding: 0;
  background: #222;
}

h1,h6 {
  margin-bottom: 1em;
}

.overlay {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 100px;
  background: #222;
  padding: 0 50px;
  color: #fff;
  z-index: 99999;
}

.start-button {
  background: rgb(28, 184, 65); /* green */
}

.main-canv {
  background: #111;
}
.hud {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: monospace;
}
.gold {
  padding: 10px;
  float: left;
}
.time {
  padding: 10px;
  float: right;
  text-align: right;
}
.shop {
  clear: left;
  /*background: #666;*/
  padding: 6px;
  width: 80px;
}
.shop .item {
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  /*border: 1px solid;*/
  margin-bottom: 10px;
  opacity: 0.5;
}
.shop .item:hover {
  background: rgba(255, 255, 255, 0.02);
  cursor: pointer;
}
.shop .available {
  opacity: 1;
}
.item-red {
  box-shadow: 0 0 4px #df4051;
}
.item-green {
  box-shadow: 0 0 4px #9de970;
}
.item-blue {
  box-shadow: 0 0 4px #54a4c5;
}
.item-violet {
  box-shadow: 0 0 4px #ad2fae;
}
.upgrade-title {
  margin-bottom: 8px;
}
.audio-toggle {
  float: right;
}
.sub-title {
  font-size: 15px;
  margin-top: -15px;
}
