body {
  margin: 0;
  padding: 0;
  background: #222;
  font-family: 'Press Start 2P', monospace;
}

a {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 500px;
  height: 400px;
  background: #222;
  padding: 0 50px;
  color: #fff;
  z-index: 99999;
  box-shadow: 0 0 20px #fff;
}

.start-button {
  background: rgb(28, 184, 65); /* green */
  font-family: 'Press Start 2P', monospace;
}

.main-canv {
  background: #111;
}
.hud {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
.gold {
  padding: 10px;
  float: left;
}
.time {
  padding: 10px;
  float: right;
  text-align: right;
}
.shop {
  clear: left;
  /*background: #666;*/
  padding: 1px 10px;
  width: 80px;
}
.shop .item {
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  /*border: 1px solid;*/
  margin-bottom: 10px;
  opacity: 0.5;
  font-size: .5em;
}
.shop .item:hover {
  background: rgba(255, 255, 255, 0.02);
  cursor: pointer;
}
.shop .available {
  opacity: 1;
}
.item-red {
  box-shadow: 0 0 4px #df4051;
}
.item-green {
  box-shadow: 0 0 4px #9de970;
}
.item-blue {
  box-shadow: 0 0 4px #54a4c5;
}
.item-violet {
  box-shadow: 0 0 4px #ad2fae;
}
.upgrade-title {

}
.audio-toggle {
  float: right;
  cursor: pointer;
}
.sub-title {

}
.high-score {
  display: none;

}
.game-title {
  text-align: center;
  margin-bottom: 5px;
}
.author {
  text-align: center;
  margin: 0;
}
.center {
  position: relative;
  margin: 50 auto;
  width: 700px;
  height: 500px;
}
